<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    
    <ComponentGroup Id="Test">
      <ComponentRef Id="c1"/>
    </ComponentGroup>

    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="c1" Guid="{08EC045B-284A-444B-A62A-4C9807715F2B}" KeyPath="yes">
        <RegistryKey Root="HKLM" Key="Test1" Action="create">
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Test2" Action="createAndRemoveOnUninstall" >
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Test3" ForceDeleteOnUninstall="yes">
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Test4">
          <RegistryValue Name="StringValue" Value="StringValueTest" Type="string">
            <!-- Not Currently Evaluated-->
            <!-- https://docs.microsoft.com/en-us/windows/desktop/msi/lockpermissions-table -->
            <Permission User="BOB" GenericAll="yes" />
          </RegistryValue>
          <RegistryValue Name="IntegerValue" Value="1" Type="integer"/>
          <RegistryValue Name="BinaryValue" Value="00" Type="binary"/>
          <RegistryValue Name="ExpandandableValue" Value="%PROGRAMFILES%" Type="expandable"/>
          <RegistryValue Name="MultiStringValueAppend" Value="StringValueAppend" Type="multiString" Action="append"/>
          <RegistryValue Name="MultiStringValuePrepend" Value="StringValuePrepend" Type="multiString" Action="prepend"/>
          <RegistryValue Name="MultiStringValue" Type="multiString" Action="append">
            <MultiStringValue>Test</MultiStringValue>
            <MultiStringValue>Test</MultiStringValue>
            <MultiStringValue></MultiStringValue>
            <MultiStringValue>Test</MultiStringValue>
          </RegistryValue>
        </RegistryKey>
      </Component>
    </DirectoryRef>
	</Fragment>
</Wix>
